body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 20px;
  }
  
h1 {
  text-align: center;
}

.selected {
  background-color: lightblue;
}

.container {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.triggerSelectors {
  margin: 10px 0px;
}

.container:hover {
  background-color: #f5f5f5;
}

.visible {
  display: block;
}

.greyed-out {
  color: #999999;
}

.invisible {
  display: none;
}

.copy-button {
  display: block;
  margin: 10px 0px;
  padding: 10px 10px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.copy-button:hover {
  background-color: #0056b3;
}

.copy-feedback {
  display: none;
  color: #007bff;
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.copy-feedback.show {
  display: inline-block;
  opacity: 1;
}